
%br
%br

%div{id: 'sweeproot', style: 'clear:both;'}

%h1{style: 'clear:both;border: 1px dotted green; padding: 10px; float: left;position:absolute;top:1px;'}
  Mines Sweep


= javascript_pack_tag 'sweep/index', 'data-turbolinks-track': 'reload'

