!!! XML
!!!
%html{xmlns: 'http://www.w3.org/1999/xhtml'}
  %head
    = favicon_link_tag 'favicon.ico'
    %meta{ :content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ :name => "viewport", :content => "width=device-width", :"initial-scale" => 1 }
    %title :: Mines Sweep ::
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags

  %body
    = yield


